body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #3E5C9A;
    /* overflow: hidden; */
    padding: 8px 0;
}
.header::after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 65%;
    margin: auto;
}
.logo-area{
    width: 30%;
    float: left;
}
.logo-area img{
    width: 150px;
    margin-top: 20px;
}
.login-area{
    width: 70%;
    float: left;
    color: white;
}
.login-area form{
    float: right;
}
.login-area label,
.login-area input{
    display: block;
}
.login-area .email,
.login-area .password,
.login-area .login{
    float: left;
    margin-right: 15px;
}
.login-area .login{
    margin-right: 0;
}
.login-area label{
    font-size: 14px;
    margin-bottom: 5px;
}
.login-area input[type="text"],
.login-area input[type="password"]{
    border: 1px solid black;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 5px;
}
.login-area .password a{
    text-decoration: none;
    color: #9cb4d8;
    font-size: 12px;
}
.login-area .password a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"]{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    padding: 3px 8px;
    margin-top: 22px;
    font-weight: 400;
}

    /* ----- End Header Area ------ */

.signup-area::after{
    content: '';
    clear: both;
    display: block;
}
.left-area{
    width: 55%;
    float: left;
}
.left-area p{
    font-size: 16px;
    font-weight: 600;
    color: #0e385f;
    width: 87%;
}
.left-area img{
    width: 100%;
}
.right-area h2{
    font-size: 25px;
    color: #333;
    margin: 0;
}
.right-area h4{
    font-size: 15px;
    color: #1d2129;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.right-area{
    width: 45%;
    float: left;
}
.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px 0;
}
.full-name{
    overflow: hidden;
}
.first-name{
    width: 48%;
    float: left;
    margin-right: 4%;
}
.surename{
    width: 48%;
    float: left;
}
    /*----------- End Header Area.---------- */

.signup-area{
    background: linear-gradient(#ffffff,#D4D9E9);
    padding: 20px 0;
}

.birthday h4{
    font-size: 15px;
    color: #1d2129;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}
.birthdate{
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 200px;
}
.birthdate select{
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
}
.birth-link{
    float: left;
    width: 173px;
}
.birthday{
    overflow: hidden;
}
.birth-link a{
    font-size: 13px;
    display: block;
    line-height: 1;
    text-decoration: none;
}
.birth-link a:hover{
    text-decoration: underline;
}

.gender h4{
    font-size: 15px;
    color: #1d2129;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: 400;
}
.gender label{
    font-size: 18px;
    font-weight: 400px;
    color: #1d2129;
}

.text-box p{
    font-size: 13px;
    color: #777;
    width: 90%;
}
.text-box a{
    text-decoration: none;
    color: #365899;
}
.text-box a:hover{
    text-decoration: underline;
}

.btn input{
    background: linear-gradient(#67ae55,#578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-width: 1px;
    border-style: solid;
    padding: 7px 14px;
    min-width: 194px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 20px;
    transition: 1s;
} 
.btn input:hover{
    background: linear-gradient(#578843,#67ae55);
    cursor: pointer;
}
.btn{
    margin-bottom: 30px;
}
.business{
    font-weight: 400;
    color: #666;
}
.business a{
    text-decoration: none;
    font-size: 15px;
}
.business:hover a{
    text-decoration: underline;
}
/* ------- End Sign up Area --------- */

.footer-area ul{
    margin: 0;
    padding: 0;
}
.footer-area{
    padding: 30px 0;
}
.footer-area ul li{
    display: inline-block;
}
.footer-area ul li a{
    text-decoration: none;
    color: #365899;
    font-size: 13px;
}
.footer-area ul li.active a{
    color: #737373;
}
.footer-area span{
    color: #737373;
    font-size: 13px;
}
.footer-area .top ul li{
    margin-right: 8px;
}
.footer-area .middle ul li{
    margin-right: 12px;
}
.footer-area .top ul li:last-child,
.footer-area .middle ul li:last-child{
    margin-right: 0;
}
.footer-area .top ul li:last-child a{
    border: 1px solid #999;
    padding: 0 6px;
}
.footer-area hr{
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}
.footer-area .bottom{
    margin-top: 20px;
}









/* ------- End Footer Area ------- */